{% load  static%}
<!DOCTYPE HTML>
<html>

<head>
<title></title>
<link rel="stylesheet" type="text/css" href="{% static 'style/style.css'%}" title="style" />
</head>

<body>
	<div id="main">
		<div id="header">
			<div id="logo">
				<div id="logo_text">
					<!-- class="logo_colour", allows you to change the colour of the text -->
					<h3>
						<a href="#"><font color="white">Community Oriented Policing</font></a>
					</h3>
					<br/><br/>
				</div>
			</div>
			<div id="menubar">
				<ul id="menu">

                    <li><a href="/viewevents">View Events</a></li>
					<li><a href="/addevent">Add Event</a></li>
					<li><a href="/logout">logout</a></li>

				</ul>
			</div>
		</div>
		<div id="content_header"></div>
		<div id="site_content">
			<div id="content">

				<h1>Welcome to  <strong>{{request.session.username}}</strong>{{form.non_field_errors}}</h1>

                <table style="width: 100%; border-spacing: 0;">

                    <tr>

                        <td>Event ID</td>
						<td>Event Name</td>
						<td>Sub Category</td>
                        <td>Keywords</td>

                        {% if request.session.role in "police" %}
                            <td>Delete</td>
                        {% endif %}

                    </tr>

                    {% for event in events %}

                               <tr>

                                    <td>{{event.id}}</td>
                                    <td>{{event.eventname}}</td>
                                    <td>{{event.subcategory}}</td>
                                    <td>{{event.keywords}}</td>

                                    {% if request.session.role in "police" %}
                                        <td><a href="/deleteevent?eventid={{ event.id }}">Delete</a></td>
                                    {% endif %}

                                </tr>

                    {% endfor %}

  				</table>

			</div>
		</div>
	</div>
</body>
</html>